<ion-view title="Producto Editar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form ng-submit="guardar()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nombre</span>
          <input type="text" ng-model="vm.producto.nombre">
        </label>
		  <label class="item item-input">
          <span class="input-label">Caracter&iacute;sticas</span>
          <input type="text" ng-model="vm.producto.caracteristicas">
        </label>
		 <label class="item item-input">
          <span class="input-label">Precio Venta</span>
          <input type="text" ng-model="vm.producto.precioVenta">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit" ng-click="vm.guardar()">Guardar</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>