<ion-view title="Proyecciones de gasto">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    <div class="h1 title">Proyecciones de gasto</div>
      <a class="button button-balanced icon ion-android-add" href="#/proyeccionGasto/0"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>
      <ion-item class="item item-button-right" ng-repeat="proyeccion in vm.proyecciones">
        {{proyeccion.fecha | date : 'MMMM yyyy'}}
        <a class="button button-positive" style="right:70px !important" href="#/proyeccionGasto/{{proyeccion.id}}">
          <i class="icon ion-edit"></i>
        </a>
        <button class="button button-assertive" ng-click="vm.eliminar(proyeccion)">
          <i class="icon ion-close"></i>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
    </ion-view>

