<ion-view title="Proyeccion Editar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
       <div class="h1 title">Proyeccion Editar</div>
       <a class="button button-balanced icon ion-android-add" href="#/gastos-proyeccion" ng-hide="vm.ocultar"></a>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <form ng-submit="guardar()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Mes</span>
          <input type="text" ng-model="vm.proyeccion.mes">
        </label>
        <label class="item item-input">
          <span class="input-label">A&ntilde;o</span>
          <input type="text" ng-model="vm.proyeccion.anio">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="button" ng-click="vm.guardar()">Guardar</button>
        </label>
      </div>

       
    </form>
  </ion-content>
</ion-view>